.tclazz-panel {
    min-height: 160px;
    background: linear-gradient(180deg, #f5f7f9 0, #fff);
    background-position: 100% 0;
    border: var(--border);
    box-shadow: var(--boxshadow);
    border-radius: 4px;
    padding: 16px;
    box-sizing: border-box;
    position: relative;
}

.normal-text {
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    font-size: 12px;
    line-height: 22px;
    color: rgb(73, 87, 112);
    white-space: nowrap;
}
.customTag .pls-nav-tag {
            /*position: absolute;
            right: -14px;
            top: 8px;
            margin-left: 0;*/
        }
        .pls-nav-tag {
            box-sizing: border-box;
            margin-left: 8px;
            padding: 0 4px;
            background: #fff;
            border: 1px solid #f64041;
            box-shadow: 2px 2px 4px 0 rgba(55,99,170,.31);
            border-radius: 6px;
            border-bottom-left-radius: 0;
            position: relative;
            top: -1px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            color: #f64041;
            font-weight: bold;
            font-size: 12px;
            line-height: 12px;
        }
        .p-all-search {
            display: inline-block;
            margin-left: 20px;
            white-space: nowrap;
            font-size: 0;
            vertical-align: middle;
            position: relative;
            width: 480px;
            box-shadow: 8px 8px 20px 0 rgba(55,99,170,.2);\
        }
        .c-search-input {
            height: 45px;
            border: 2px solid #fff;
            border-right: none;
            border-radius: 2px 0 0 2px;
            background-image: linear-gradient(0deg,#FFF 0,#F3F5F8 100%);
            outline: none;
            line-height: normal;
            border-right: 0;
            box-shadow: none;
            display: inline-block;
            vertical-align: middle;
            width: calc(100% - 36px);
            font-size: 14px;
            padding-right: 20px;
            padding-left: 10px;
            -webkit-appearance: none;
        }
        .c-search-btn {
            position: absolute;
            height: 45px;
            border: 2px solid #fff;
            border-left: none;
            border-radius: 0 2px 2px 0;
            background-image: linear-gradient(0deg,#FFF 0,#F3F5F8 100%);
            width: 36px;
            vertical-align: middle;
            text-indent: -10000px;
            right: 0;
            top: 0;
        }
        .c-search-btn:hover {
            background-color: #fff;
        }




