:root {
    --app-bg: #242933;
    --boxshadow: 8px 8px 20px 0 rgba(18, 21, 26, .6), -8px -8px 20px 0 rgba(54, 62, 77, .5)
    , inset 0 4px 20px 0 rgba(36, 41, 51, .5);
    --border:2px solid #000;
    --grey-0: #fff;
    --grey-1: #fdfdfd;
    --grey-2: #f7f7f7;
    --grey-3: #eff2f3;
    --grey-4: #ccc;
    --grey-5: #999;
    --grey-6: #666;
    --grey-7: #333;
    --grey-8: #222;
    --grey-9: #000;
    --grey-1-a0: rgba(253,253,253,0);
    --grey-1-a7: rgba(253,253,253,0.7);
    --grey-1-a5: rgba(253,253,253,0.5);
    --grey-1-a3: rgba(253,253,253,0.3);
    --grey-9-a1: rgba(0,0,0,0.1);
    --grey-9-a5: rgba(0,0,0,0.5);
    --grey-2-a0: rgba(247,247,247,0);
    --color-pink-light: #a9c9ff;
    --color-cyan-light: #ffbbec;
    --color-pink-light-old: #ffe6fa;
    --color-cyan-light-old: #e3fdf5;
    --color-red: #ab66ff;
    --color-pink: #ab66ff;
    --color-orange: #74b6f7;
    --color-red-old: #e9546b;
    --color-pink-old: #ed6ea0;
    --color-orange-old: #ec8c69;
    --color-yellow: #eab700;
    --color-green: #0a7426;
    --color-aqua: #3e999f;
    --color-aqua-old: #3e999f;
    --color-blue: #28c76f;
    --color-blue-old: #38a1db;
    --color-purple: #9d5b8b;
    --color-grey: #869194;
    --color-red-a1: rgba(171,102,255,0.1);
    --color-red-a3: rgba(171,102,255,0.3);
    --color-pink-a3: rgba(171,102,255,0.3);
    --color-red-a1-old: rgba(233,84,107,0.1);
    --color-red-a3-old: rgba(233,84,107,0.3);
    --color-pink-a3-old: rgba(237,110,160,0.3);
    --color-pink-light-a3: rgba(255,230,250,0.3);
    --color-pink-light-a5: rgba(255,230,250,0.5);
    --color-pink-light-a7: rgba(255,230,250,0.7);
    --body-bg-shadow: var(--grey-2);
    --box-bg-shadow: var(--grey-9-a1);
    --text-color: var(--grey-7);
    --header-text-color: var(--grey-0);
    --primary-color: var(--color-red);
    --tags-background: #edf0f7;
    --nav-bg: linear-gradient(-225deg, var(--color-cyan-light) 0, var(--color-pink-light) 100%);
}
