.swiperContainer {
    width: 100%;
    position: relative;
}

.swiper {
    width: 100%;
    height: 200px;
}

.swiper-slide .tclazz-panel {
    box-shadow: none;
    height: 100%;
}

.swiper-button-next:after, .swiper-button-prev:after {
    display: none;
}

.swiper-button-next, .swiper-button-prev {
    font-size: 14px;
    letter-spacing: 0;
    text-transform: none;
    font-variant: initial;
    line-height: 1;
    background-image: linear-gradient(135deg, #dbe2e9, #fff);
    border: 2px solid #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, .16);
    color: #000;
    transition: all .2s;
}

.swiper-button-next {
    margin-right: -20px;
    outline: none;
    display: none;
}

.swiper-button-prev {
    margin-left: -20px;
    outline: none;
    display: none;
}

.swiperContainer:hover .swiper-button-next,.swiperContainer:hover .swiper-button-prev{
    display: flex;
}

.swiper-button-next:hover, .swiper-button-prev:hover {
    color: #0d6efd;
}



.swiper {
    --swiper-theme-color: #ff6600; /* 设置Swiper风格 */
    --swiper-navigation-color: #00ff33; /* 单独设置按钮颜色 */
    --swiper-navigation-size: 40px; /* 设置按钮大小 */
}

